
/* set screen width */
.wy-nav-content {
    max-width: 100% !important;
    padding: 0.0em 0.0em !important;
}

.rst-content {
    padding: 0.0em 0.0em !important;
}

body > div > section > div > div > div[role=navigation] {
    background-color:#cde8ec;
    padding: 0.0em 0.0em 0.0em 0.0em !important;
}

div[role=main] {
    padding: 0.0em 2.0em;
}

.wy-breadcrumbs {
    padding: 0.5em 0.5em 0.0em 0.5em !important;
}

.rst-breadcrumbs-buttons {
    padding: 0.0em 0.5em !important;
    margin-top: 0px !important;
}

/* set side top part background to dark colour */
.wy-side-nav-search {
    background-color:#acd2d8;
}

.wy-nav-side {
    background-color:#acd2d8;
    font-family: 'Ubuntu', sans-serif;
}

/* set side body part background to less dark colour */
.wy-side-scroll {
    background-color:#acd2d8;
}

/* set search button L&F */
.wy-side-nav-search input[type=text] {
    border-radius:5px;
}

/* set Previous and Next button L&F */
.btn {
    border-radius:5px;
    box-shadow: 0px 0px 0px 0px;
    font-size: 80%;
    padding: 0.4em 0.8em 0.4em 0.8em;
}

/* Remove home icon from 'Alfa' text */
.fa-home:before, .icon-home:before {
    content: "";
}

/* Footer font to be smaller */
footer p {
    font-size: 80% !important;
    color: darkgray;
}
footer a, footer a:visited {
    color: darkgray;
}

.wy-menu-vertical a {
    color: black;
}

.wy-menu-vertical li.current a {
    border: none;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: none;
    border-top: none;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    background: #acd2d8;
    border: none;
    color:Navy;
}

.wy-menu-vertical li.toctree-l2.current>a{
    background:#acd2d8
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #acd2d8
}

.wy-menu-vertical li.toctree-l2 a,.wy-menu-vertical li.toctree-l3 a,.wy-menu-vertical li.toctree-l4 a{
    background:#acd2d8
}

.wy-menu-vertical li.toctree-l3.current>a{
    background:#acd2d8
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a{
    background:#acd2d8
}

.wy-menu-vertical a:hover {
    background-color:#acd2d8;
    cursor:pointer
}

.wy-side-nav-search>a:hover,.wy-side-nav-search .wy-dropdown>a:hover{
    background-color:#acd2d8;
    cursor:pointer
}

.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand{
    color:#acd2d8
}


.wy-menu-vertical li.current a:hover {
    background:#acd2d8;
}

div.admonition.note {
    font-size: 80% !important;
    border-radius:5px !important;
}

div.admonition.note > p {
    border-top-left-radius:5px !important;
    border-top-right-radius:5px !important;
}

div.admonition.note > p.last {
    font-size: 100% !important;
}

.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
    display: block;
    margin: 0 auto;
    height: 56px;
    width: 150px;
    max-width: 100%;
    background: transparent;
}

.rst-content code.literal {
    color: ForestGreen;
    font-size: 85%;
}

.wy-nav-top {
    background: #80a2a7;
}

hr {
    margin: 5px 0;
    border-top: 0px !important;
    height: 0px !important;
}

#alfa-usage-example > a > img {
    max-width:900px;
}

.admonition {
  max-width: 1400px
}